/*
  ============================================================
  TOKENS
  ============================================================

  Variables reutilizables para mantener un sistema visual
  consistente en todo el documento.
*/
@import url('https://use.typekit.net/kbl2trg.css');
@import url("https://use.typekit.net/kbl2trg.css");

:root {
  --color-background: #231C07;
  --color-text: #E6D9C7;
  --color-accent: #E79600;

  --font-family-base: "Georgia",sans-serif;
  --font-family-body: "CoFo Sans Pro Georgian", sans-serif;

  --font-size-body: 1rem;

  --h1-font-size: 5rem;
  --h1-font-weight: 400;

  --h2-font-size: 2rem;
  --h2-font-weight: 100;

  --h3-font-size: 2.2rem;
  --h3-font-style: italic;
  --h3-font-weight: 100;

  --p-font-size: 1.5rem;
  
  --text-align-1: center;
  --text-align-2: left;
}

/*
  ============================================================
  SELECTOR UNIVERSAL
  ============================================================
  * funciona como un comodín.
  Selecciona todos los elementos HTML.
*/

/* {
  box-sizing: border-box;
  /*
    Regla temporal para visualizar las cajas.
    Puede eliminarse cuando ya no sea necesaria.
  */
/*  outline: 1px solid;
}*/


/*
  ============================================================
  BODY
  ============================================================

  Define el sistema visual base del documento.
*/
body {
  margin: 0;

  font-family: var(--font-family-body);
  font-weight: 100;
  background-color: var(--color-background);
  color: var(--color-text);

  text-align: var(--text-align-1);
}

/*
  ============================================================
  JERARQUÍA TIPOGRÁFICA
  ============================================================

  HTML define la jerarquía.
  CSS controla su representación visual.
*/

h1 {
  font-family: var(--font-family-base);
  font-size: var(--font-size-body);
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
}

h2 {
  font-family: var(--font-family-body);
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
}

h3 {
  font-family: var(--font-family-base);
  font-size: var(--font-size-body);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
}

p {
  font-size: var(--p-font-size);
  line-height: 1.8em;
  max-width: 30em;
  margin: 2em auto;
}



/*
  ============================================================
  LINKS
  ============================================================

  El color de acento identifica enlaces y acciones.
*/

a {
  color: var(--color-accent);
}


/*
  ============================================================
  CONTENEDOR PRINCIPAL
  ============================================================

  width:
  ocupa una proporción del espacio disponible.

  max-width:
  evita que el contenido crezca demasiado.

  margin: 0 auto:
  distribuye el espacio horizontal y centra la caja.
*/

main {
  width: 60em;
  min-width: 290px;
  max-width: 1240px;
  margin: 0 auto;
}


/*
  ============================================================
  ESPACIADO BÁSICO
  ============================================================
*/

header,
main,
footer {
  padding: 2rem;
}

section {
  margin-bottom: 3rem;
}

nav a {
  margin-right: 1rem;
}
