/*
  ============================================================
  TOKENS
  ============================================================

  Variables reutilizables para mantener un sistema visual
  consistente en todo el documento.
*/
@import url('https://use.typekit.net/kbl2trg.css');

:root {
  --color-background: #231C07;
  --color-text: #E6D9C7;
  --color-accent: #E79600;

  --font-family-base: "georgia",sans-serif;
  --

  --font-size-body: 1rem;
  --font-size-h1: 3rem;
  --font-weight-h1: 400;
  --font-size-h2: 2rem;
  --font-style-h2: italic;
  --font-weight-h2: 400;
  --font-size-h3: 1.25rem;
  
  --text-align-1: center;
}

/*
  ============================================================
  SELECTOR UNIVERSAL
  ============================================================
  * funciona como un comodín.
  Selecciona todos los elementos HTML.
*/

* {
  box-sizing: border-box;
  /*
    Regla temporal para visualizar las cajas.
    Puede eliminarse cuando ya no sea necesaria.
  */
  outline: 1px solid;
}


/*
  ============================================================
  BODY
  ============================================================

  Define el sistema visual base del documento.
*/
body {
  margin: 0;

  background-color: var(--color-background);
  color: var(--color-text);

  font-family: var(--font-family-base);
  font-size: var(--font-size-body);

    text-align: var(--text-align-1);
}

/*
  ============================================================
  JERARQUÍA TIPOGRÁFICA
  ============================================================

  HTML define la jerarquía.
  CSS controla su representación visual.
*/

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
}

h2 {
  font-size: var(--font-size-h2);
  font-style: var(--font-style-h2);
  font-weight: var(--font-weight-h2);
}

h3 {
  font-size: var(--font-size-h3);
}


/*
  ============================================================
  LINKS
  ============================================================

  El color de acento identifica enlaces y acciones.
*/

a {
  color: var(--color-accent);
}


/*
  ============================================================
  CONTENEDOR PRINCIPAL
  ============================================================

  width:
  ocupa una proporción del espacio disponible.

  max-width:
  evita que el contenido crezca demasiado.

  margin: 0 auto:
  distribuye el espacio horizontal y centra la caja.
*/

main {
  width: 65%;
  min-width: 290px;
  max-width: 1240px;
  margin: 0 auto;
}


/*
  ============================================================
  ESPACIADO BÁSICO
  ============================================================
*/

header,
main,
footer {
  padding: 2rem;
}

section {
  margin-bottom: 3rem;
}

nav a {
  margin-right: 1rem;
}
